.container{
    display: grid;
    grid-template-rows: auto 1fr;
}
.container > button{
    max-height: 100px;
    background-color: aquamarine;
    grid-row: 1/2;
}
.container > app-task-list{
    grid-row: 2/3;
}