<div>
    <h1 *ngIf="task==null" mat-dialog-title>Create Task</h1>
    <h1 *ngIf="task!=null" mat-dialog-title>Edit Task</h1>
    <div mat-dialog-content>
        <mat-form-field appearance="fill">
            <label>Name:</label>
            <input required matInput [(ngModel)]="data.name" placeholder="Task name">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <label>Description:</label>
            <textarea required matInput [(ngModel)]="data.description" placeholder="Description"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <label>Performer Id:</label>
            <input required matInput [(ngModel)]="data.performerId" placeholder="Performer id">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <label>Project Id:</label>
            <input required matInput [(ngModel)]="data.projectId" placeholder="Project id">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <label>State:</label>
            <mat-select placeholder="State" [(ngModel)]="data.state">
                <mat-option value="0">Development</mat-option>
                <mat-option value="1">Testing</mat-option>
                <mat-option value="2">Finished</mat-option>
                <mat-option value="3">Backlog</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">No Thanks</button>
        <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Send</button>
    </div>
</div>