<form #updateForm="ngForm" (ngSubmit)="onSubmit(project)" *ngIf="project$ | async as project">
    <mat-card>
        <h1 mat-dialog-title>Update Task</h1>
        <div mat-dialog-content>
            <mat-form-field appearance="fill">
                <label>Name:</label>
                <input required name="projectName" matInput [(ngModel)]="project.name" placeholder="Project name">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <label>Description:</label>
                <textarea required name="description" matInput [(ngModel)]="project.description" placeholder="Description"></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <label>Author Id:</label>
                <input required name="authorId" matInput [(ngModel)]="project.authorId" placeholder="Author id">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <label>Team Id:</label>
                <input required name="teamId" matInput [(ngModel)]="project.teamId" placeholder="Team id">
            </mat-form-field>
            <mat-form-field appearance="fill">
    
                <mat-label>Deadline date</mat-label>
                <input name="deadline" required matInput [(ngModel)]="project.deadline" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button type="button" mat-button (click)="onNoClick(updateForm)">No Thanks</button>
            <button type="submit" [disabled]="!updateForm.valid" mat-button cdkFocusInitial>Send</button>
        </div>
    </mat-card>
</form>