<form #createForm="ngForm" (ngSubmit)="onSubmit(task)">
    <mat-card>
        <h1 mat-dialog-title>Create Task</h1>
            <mat-form-field appearance="fill">
                <label>Name:</label>
                <input required matInput name="taskName" [(ngModel)]="task.name" placeholder="Task name">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <label>Description:</label>
                <textarea name="description" required matInput [(ngModel)]="task.description" placeholder="Description"></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <label>Performer Id:</label>
                <input required matInput name="performerId" [(ngModel)]="task.performerId" placeholder="Performer id">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <label>Project Id:</label>
                <input name="projectId" required matInput [(ngModel)]="task.projectId" placeholder="Project id">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <label>State:</label>
                <mat-select name="taskState" placeholder="State" [(ngModel)]="task.state">
                    <mat-option value="0">Development</mat-option>
                    <mat-option value="1">Testing</mat-option>
                    <mat-option value="2">Finished</mat-option>
                    <mat-option value="3">Backlog</mat-option>
                </mat-select>
            </mat-form-field>
        <div mat-dialog-actions>
            <button type="button" mat-button (click)="onNoClick(createForm)">No Thanks</button>
            <button type="submit" [disabled]="!createForm.valid" mat-button cdkFocusInitial>Send</button>
        </div>
    </mat-card>
</form>